@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Pickle and Broccoli CO.</h1>
    <p>Welcome to the healthiest website you'll ever see! We only sell Pickles and Broccoli for your delighfulness! Please browse through our section of Broccoli and Pickles!</p>

    <img class="main-img" src="~/background.jpeg" width="800" height="350" alt="Video Game Covers"/>
</div>

